<HTML>
<html lang="en">
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/bootstrap/js/bootstrap.js"></script>
  <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
  <HEADER><meta charset="utf-8">
    <title>Civilian Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  </HEADER>
<BODY>
  {% if registered or user.is_authenticated %}
  <div class="hero-unit">
  Thank you for registering. <A href="/civ/home">GO TO
    YOUR CITY.</A>
    </div>
  {% else %}
  <div class="hero-unit">
  <h1>Register here.</h1>
  <h3>Let your story unfold.</h3>
  <FORM id="user_form" method="post" action="/civ/register/">
    {% csrf_token %}
    {{ uform.as_p }}
    {{ pform.as_p }}
    <INPUT type="submit" name="submit" value="submit" />
  </FORM>
  </div>
  {% endif %}
</BODY>
