<HTML>
<html lang="en">
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/bootstrap/js/bootstrap.js"></script>
  <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
  <HEADER><meta charset="utf-8">
    <title>Civilian Info Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  </HEADER>
  <BODY>
    {% if user %}
    <div id="wrap">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Building Store</li>
              <li><button type="button" class="btn" onclick="genAJAX(1)">Buy residence!<BR> Cost 600 <BR> Population + 50</button></li>
                  	<li class="divider"></li>
 					<li><button type="button" class="btn"onclick="genAJAX(2)">Buy farm!<BR> Cost 1000 <BR>Employees: 30 <BR> Credits + 200p/t <BR> Food + 20p/t </button></li>
    				<li><button type="button" class="btn"onclick="genAJAX(3)">Buy lab!<BR> Cost 4000 <BR>Employees: 40 <BR> Credits + 400p/t <BR> Science + 20p/t </button></li>
					<li><button type="button" class="btn"onclick="genAJAX(4)">Buy studio!<BR> Cost 2500 <BR>Employees: 70<BR> Credits +300 p/t <BR> Military + 25p/t </button></li>
					<li><button type="button" class="btn"onclick="genAJAX(5)">Buy barracks!<BR> Cost 3200 <BR>Employees: 10<BR> Credits + 200p/t <BR> Art + 30p/t </button></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
	<div class="hero-unit">
      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/civ">Civilian</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Game Screen</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Buildings Shop <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li><button type="button" class="btn" onclick="genAJAX(1)">Buy residence!<BR> Cost 600 <BR> Population + 50</button></li>
                  	<li class="divider"></li>
 					<li><button type="button" class="btn"onclick="genAJAX(2)">Buy farm!<BR> Cost 1000 <BR>Employees: 30 <BR> Credits + 200p/t <BR> Food + 20p/t </button></li>
    				<li><button type="button" class="btn"onclick="genAJAX(3)">Buy lab!<BR> Cost 4000 <BR>Employees: 40 <BR> Credits + 400p/t <BR> Science + 20p/t </button></li>
					<li><button type="button" class="btn"onclick="genAJAX(4)">Buy studio!<BR> Cost 2500 <BR>Employees: 70<BR> Credits +300 p/t <BR> Military + 25p/t </button></li>
					<li><button type="button" class="btn"onclick="genAJAX(5)">Buy barracks!<BR> Cost 3200 <BR>Employees: 10<BR> Credits + 200p/t <BR> Art + 30p/t </button></li>
					
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      <h1> Welcome, <span id="TITLE">{{character.title}}</span> {{city.name}} </h1>
    Money : <span id="MONEY">{{city.money}}</span><BR>
    Total Population :<span id="POPULATION">{{city.totalpopulation}}</span><BR>
	Working Population : <span id="WORKPOP">{{city.workingpopulation}}</span><BR>
	Non-Working Population : <span id="NOWORKPOP">{{city.nonworkingpopulation}}</span><BR>
    Farms : <span id="FARMS">{{city.farms}}</span><BR>
    Labs : <span id="LABS">{{city.labs}}</span><BR>
    Barracks : <span id="BARRACKS">{{city.barracks}}</span><BR>
    Studios : <span id="STUDIOS">{{city.studios}}</span><BR>
    <BR>
    Character: {{character.name}} <BR>
	
	<script>
		  
	  function genAJAX(bID){
	  $.ajax({type: "GET",		
	  url:	"/civ/suggest/",
	  data:	"build="	+	bID,
	  success:	function(ret)	{	
	  obj = JSON.parse(ret)
	  console.log(obj);
	  if(obj.results[0]==1){
	  alert("Congratulations, you built something! ");
	  $('#TITLE').text(obj.results[1]);
	  $('#MONEY').text(obj.results[2]);
	  $('#POPULATION').text(obj.results[3]);
	  $('#WORKPOP').text(obj.results[4]);
	  $('#NOWORKPOP').text(obj.results[5]);
	  $('#FARMS').text(obj.results[6]);
	  $('#LABS').text(obj.results[7]);
	  $('#BARRACKS').text(obj.results[8]);
	  $('#STUDIOS').text(obj.results[9]);
	  }
	  else{
	  alert("Failed!");
	  }}});	
	  }
	</script>
	</div>
	{% else %}
    <P> NO USER EXIST!</P>
    {% endif %}
    <A href="/civ"> Return to dashboard </A>
    


  </BODY>
</HTML>
