<HTML>
<html lang="en">
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/bootstrap/js/bootstrap.js"></script>
  <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
  <HEADER><meta charset="utf-8">
    <title>Civilian Info Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	
  </HEADER>
  <BODY>
    {% if user %}
    <!-- Fixed navbar -->
			  <div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
				  <div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="brand" href="/civ">Civilian</a>
					<div class="nav-collapse collapse">
					  <ul class="nav">
						<li class="active"><a href="#">Game Screen</a></li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Good Persona Shop <b class="caret"></b></a>
						  <ul class="dropdown-menu">
                  			<li><button type="button" class="btn" onclick="getPersona(1)">Become a Scientist!<BR> cost = 6000<BR> money = 110%<BR>
								food = 100%<BR> science = 120%<BR> military = 110%<BR> arts = 90%</button></li>
 							<li><button type="button" class="btn"onclick="getPersona(2)">Become a Warrior!<BR>cost = 3500<BR> money = 115%<BR>
								food = 90%<BR> science = 90%<BR> military = 130%<BR> arts = 80%</button></li>
    						<li><button type="button" class="btn"onclick="getPersona(3)">Become a Gentleman!<BR>cost = 7000<BR> money = 130%<BR>
								food = 85%<BR> science = 90%<BR> military = 105%<BR> arts = 115%</button></li>
							
							<li><button type="button" class="btn"onclick="getPersona(8)">Become a Civilian!<BR>cost = 0<BR> money = 100%<BR>
								food = 100%<BR> science = 100%<BR> military = 100%<BR> arts = 100%</button></li>
							
						  </ul>
						</li>
						<li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Evil Persona Shop <b class="caret"></b></a>
						  <ul class="dropdown-menu">
                  			
							<li><button type="button" class="btn"onclick="getPersona(4)">Become a Pirate!<BR>cost = 1000<BR> money = 120%<BR>
								food = 90%<BR> science = 70%<BR> military = 115%<BR> arts = 80%</button></li>
							<li><button type="button" class="btn"onclick="getPersona(5)">Become a Evil-doer!<BR>cost = 20000<BR> money = 150%<BR>
								food = 30%<BR> science = 150%<BR> military = 150%<BR> arts = 30%</button></li>
							<li><button type="button" class="btn"onclick="getPersona(6)">Become a Politician!<BR>cost = 4000<BR> money = 80%<BR>
								food = 90%<BR> science = 110%<BR> military = 110%<BR> arts = 120%</button></li>
							<li><button type="button" class="btn"onclick="getPersona(7)">Become a Emporer!<BR>cost = 10000<BR> money = 110%<BR>
								food = 125%<BR> science = 80%<btn btn-danger> military = 110%<BR> arts = 110%</button></li>
							
						  </ul>
						  
						</li>
					  </ul>
					<form class="navbar-form pull-right">
					{% if faction.colour == "red" %}
						<a type="button" class="btn btn-danger" href="/civ/live">LIVE </a>
					{% elif faction.colour == "blue" %}
						<a type="button" class="btn btn-primary" href="/civ/live">LIVE </a>
					{% elif faction.colour == "yellow" %}
						<a type="button" class="btn btn-warning" href="/civ/live">LIVE </a>
					{% elif faction.colour = "green" %}
						<a type="button" class="btn btn-success" href="/civ/live">LIVE </a>
					{% endif %}
					<a type="button" class="btn btn-info" href="/civ/logout"">Logout </a>
 
					</form>
					</div><!--/.nav-collapse -->
				  </div><!--/.endcontainer-->
				</div>
			  </div><!--/.navbar-->
    <div id="wrap">
      <div class="container-fluid">
    	<div class="row-fluid">
          <div class="span3">
          	<div class="well sidebar-nav">
              <ul class="nav nav-list">
              	<li class="nav-header">Building Store</li>
              	{% if faction.colour == "red" %}
						<li><button type="button" class="btn btn-danger" onclick="genAJAX(1)">Buy residence!<BR> -------------Cost 600------------- <BR> Population + 50 <BR> Money -50 p/t</button></li>
					{% elif faction.colour == "blue" %}
						<li><button type="button" class="btn btn-primary" onclick="genAJAX(1)">Buy residence!<BR> -------------Cost 600------------- <BR> Population + 50 <BR> Money -50 p/t</button></li>
					{% elif faction.colour == "yellow" %}
						<li><button type="button" class="btn btn-warning" onclick="genAJAX(1)">Buy residence!<BR> -------------Cost 600------------- <BR> Population + 50 <BR> Money -50 p/t</button></li>
					{% elif faction.colour = "green" %}
						<li><button type="button" class="btn btn-success" onclick="genAJAX(1)">Buy residence!<BR> -------------Cost 600------------- <BR> Population + 50 <BR> Money -50 p/t</button></li>
					{% endif %}
                <li class="divider"></li>
 				<li><button type="button" class="btn"onclick="genAJAX(2)">Buy farm!<BR> -------------Cost 1000------------ <BR>Employees: 30 <BR> Money + 200p/t <BR> Food + 20p/t </button></li>
    			<li><button type="button" class="btn"onclick="genAJAX(3)">Buy lab!<BR> -------------Cost 4000------------ <BR>Employees: 40 <BR> Money + 400p/t <BR> Science + 20p/t </button></li>
				<li><button type="button" class="btn"onclick="genAJAX(4)">Buy studio!  <BR> -------------Cost 3200------------ <BR>Employees: 10<BR> Money + 200p/t <BR> Art + 30p/t </button></li>
				<li><button type="button" class="btn"onclick="genAJAX(5)">Buy barracks!<BR> -------------Cost 2500------------ <BR>Employees: 70<BR> Money +300 p/t <BR> Military + 25p/t </button></li>
			  </ul>
			</div><!--/.well -->
		  </div><!--/span-->
		  <div class="span7">
			<div class="hero-unit">
			  
			<h1> Welcome, <span id="TITLE">{{character.title}}</span> {{city.name}} </h1>

			<h2> Faction: {{faction.name}}</h2>
			
			  Money : <span id="MONEY">{{city.money}}</span><BR>
			  Total Population :<span id="POPULATION">{{city.totalpopulation}}</span><BR>
			  Working Population : <span id="WORKPOP">{{city.workingpopulation}}</span><BR>
			  Non-Working Population : <span id="NOWORKPOP">{{city.nonworkingpopulation}}</span><BR>
			  Farms : <span id="FARMS">{{city.farms}}</span><BR>
			  Labs : <span id="LABS">{{city.labs}}</span><BR>
			  Barracks : <span id="BARRACKS">{{city.barracks}}</span><BR>
			  Studios : <span id="STUDIOS">{{city.studios}}</span><BR>

			  Character: {{character.name}}
			
			  {% if character.name == "Civilian" %}
			  <img src="{{ STATIC_URL }}/imgs/civ.gif" height="100" width="100" align="middle">
			  {% elif character.name == "Pirate" %}
			  <img src="{{ STATIC_URL }}/imgs/pirate.gif" height="350" width="350" align="middle">
			  {% elif character.name == "Scientist" %}
			  <img src="{{ STATIC_URL }}/imgs/scientist.gif" height="300" width="300" align="middle">
			  {% elif character.name == "Warrior" %}
			  <img src="{{ STATIC_URL }}/imgs/warrior.gif" height="300" width="300" align="middle">
			  {% elif character.name == "Gentleman" %}
			  <img src="{{ STATIC_URL }}/imgs/gentleman.gif" height="300" width="300" align="middle">
			  {% elif character.name == "Evil-doer" %}
			  <img src="{{ STATIC_URL }}/imgs/evildoer.gif" height="300" width="300" align="middle">
			  {% elif character.name == "Politician" %}
			  <img src="{{ STATIC_URL }}/imgs/politician.gif" height="250" width="250" align="middle">
			  {% elif character.name == "Emporer" %}
			  <img src="{{ STATIC_URL }}/imgs/emporor.gif" height="250" width="250" align="middle">
			  {% endif %}

			
			<script>
			  $(window).load(function(){
			  $('#INCOME').text((({{city.farms}}*{{farm.profit}} + {{city.labs}}*{{lab.profit}} + {{city.studios}}*{{studio.profit}} + {{city.barracks}}*{{barracks.profit}} - {{city.totalpopulation}})*{{character.money}}).toFixed(2));
			  $('#YUMS').text((({{city.farms}}*{{farm.pfood}} + {{city.labs}}*{{lab.pfood}} + {{city.studios}}*{{studio.pfood}} + {{city.barracks}}*{{barracks.pfood}})*{{character.food}}).toFixed(2));
			  $('#KNOWS').text((({{city.farms}}*{{farm.pscience}} + {{city.labs}}*{{lab.pscience}} + {{city.studios}}*{{studio.pscience}} + {{city.barracks}}*{{barracks.pscience}})*{{character.science}}).toFixed(2));
			  $('#GUNS').text((({{city.farms}}*{{farm.pmilitary}} + {{city.labs}}*{{lab.pmilitary}} + {{city.studios}}*{{studio.pmilitary}} + {{city.barracks}}*{{barracks.pmilitary}})*{{character.military}}).toFixed(2));
			  $('#BORES').text((({{city.farms}}*{{farm.part}} + {{city.labs}}*{{lab.part}} + {{city.studios}}*{{studio.part}} + {{city.barracks}}*{{barracks.part}})*{{character.arts}}).toFixed(2));
			  
			  
			  
			  });
			  
			  
			  function getPersona(pID){
			  $.ajax({type: "GET",		
	  		  url:	"/civ/buyguy/",
	  		  data:	"persona="	+	pID,
	  		  success:	function(ret)	{	
	  		  obj = JSON.parse(ret)
	  		  console.log(obj);
	  		  if(obj.results[0]==1){
	  		  alert("Congratulations, you changed personna! ");
	  		  $('#TITLE').text(obj.results[1]);
	  		  $('#MONEY').text(obj.results[2]);
	  		  $('#POPULATION').text(obj.results[3]);
	  		  $('#WORKPOP').text(obj.results[4]);
	  		  $('#NOWORKPOP').text(obj.results[5]);
	  		  $('#FARMS').text(obj.results[6]);
	  		  $('#LABS').text(obj.results[7]);
	  		  $('#BARRACKS').text(obj.results[8]);
	  		  $('#STUDIOS').text(obj.results[9]);
	  		 $('#INCOME').text((({{city.farms}}*{{farm.profit}} + {{city.labs}}*{{lab.profit}} + {{city.studios}}*{{studio.profit}} + {{city.barracks}}*{{barracks.profit}} - {{city.totalpopulation}})*{{character.money}}).toFixed(2));
			  $('#YUMS').text((({{city.farms}}*{{farm.pfood}} + {{city.labs}}*{{lab.pfood}} + {{city.studios}}*{{studio.pfood}} + {{city.barracks}}*{{barracks.pfood}})*{{character.food}}).toFixed(2));
			  $('#KNOWS').text((({{city.farms}}*{{farm.pscience}} + {{city.labs}}*{{lab.pscience}} + {{city.studios}}*{{studio.pscience}} + {{city.barracks}}*{{barracks.pscience}})*{{character.science}}).toFixed(2));
			  $('#GUNS').text((({{city.farms}}*{{farm.pmilitary}} + {{city.labs}}*{{lab.pmilitary}} + {{city.studios}}*{{studio.pmilitary}} + {{city.barracks}}*{{barracks.pmilitary}})*{{character.military}}).toFixed(2));
			  $('#BORES').text((({{city.farms}}*{{farm.part}} + {{city.labs}}*{{lab.part}} + {{city.studios}}*{{studio.part}} + {{city.barracks}}*{{barracks.part}})*{{character.arts}}).toFixed(2));
			  
			  }
			  else{
			  alert("Failed to purchase a new identity!");
			  }}});
			  
			  }
			  
			  
			  function genAJAX(bID){
			  $.ajax({type: "GET",		
			  url:	"/civ/suggest/",
			  data:	"build="	+	bID,
			  success:	function(ret)	{	
			  obj = JSON.parse(ret)
			  console.log(obj);
			  if(obj.results[0]==1){
			  alert("Congratulations, you built something! ");
			  $('#TITLE').text(obj.results[1]);
			  $('#MONEY').text((obj.results[2]).toFixed(2));
			  $('#POPULATION').text(obj.results[3]);
			  $('#WORKPOP').text(obj.results[4]);
			  $('#NOWORKPOP').text(obj.results[5]);
			  $('#FARMS').text(obj.results[6]);
			  $('#LABS').text(obj.results[7]);
			  $('#BARRACKS').text(obj.results[8]);
			  $('#STUDIOS').text(obj.results[9]);
			  }
			  else{
			  alert("Failed!");
			  }}});	
			  }
			</script>
			</div>	
	  
		  </div>
		  {% else %}
		  <P> NO USER EXIST!</P>
		  {% endif %}
		
		<div class="span2">
		  <div class="well sidebar-nav">
            <ul class="nav nav-list">
			  <li class="nav-header">Current Earnings</li>
			  Income per turn:<span id="INCOME">income</span><BR>
			  Food per turn:<span id="YUMS">income</span><BR>
			  Science per turn:<span id="KNOWS">income</span><BR>
			  Military per turn:<span id="GUNS">income</span><BR>
			  Art per turn:<span id="BORES">income</span><BR>
			  
            </ul>
		  </div><!--/.well -->
        </div><!--/span-->
       </div> 
	</div>
	</div><!--/wrap-->
		
		
  </BODY>
</HTML>
